<h2>テーブル番号一覧画面</h2>
<%= link_to 'テーブルを作る', new_admin_customer_table_path %>
<% @customer_tables.each do |customer_table| %>
  <div>
    <%= link_to customer_table.customer_tables_name, edit_admin_customer_table_path(customer_table) %>
  </div>
<% end %>