<div class="container">
	<h2>テーブル番号管理</h2>
		<table class='table table-bordered'>
				<h4>テーブル番号新規登録</h4>
		  	  <%= link_to 'テーブル番号を作成する', new_admin_customer_table_path %>
		</table>

	<div class="row">
		<div class="col-md-4">
			<h3>テーブル番号一覧</h3>
			<table class="table">
				<thead>
					<tr>
						<th>テーブル番号</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
			    <% @customer_tables.each do |customer_table| %>
						<tr>
							<td>  <%= link_to customer_table.customer_tables_name, edit_admin_customer_table_path(customer_table) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
