<div class="container">
  <h2>テーブル番号作成画面</h2>
    <div class="row">
      <%= form_with model: @customer_table, url: admin_customer_tables_path, method: :post do |f| %>
        <%= f.label :customer_tables_name, 'テーブル名' %>
        <%= f.text_field :customer_tables_name %>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      <% end %>
    </div>
</div>