<div class="mv">
			<p>
				いらっしゃいませ!<br>
				ご利用のお客様は、以下の「こちら」ボタンをクリックして<br>
				メニューをどうぞご覧ください！<br>
			</p>

			<h2 class="section-ttl">ご注文の方は</h2>
  <p><%= link_to "こちら", menues_path, class: "underline" %>からメニュー画面をご覧ください。</p>

</div>