@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.admin_menu_image{width: 200px; height: auto;}
.customer_menu_show_image{width: 400px; height: auto;}

.submit_to_create_order { margin-top: 50px; }
