@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.admin_menu_image{width: 200px; height: auto;}
.customer_menu_show_image{width: 400px; height: auto;}

.submit_to_create_order { margin-top: 50px; }

a {
  color: #000000
}

.genre_link {
  color: #000000;
}

.genre_background {
  background-color: #FF6633;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}